<div>
  <div class="project-card-container">
    <span class="anchor" id="projects"></span>
    <div class="row justify-content-between">
      <div class="col-sm-12 col-md-11 col-lg-11 col-xl-6 project-card-info">
        <h2 id="main-subtitle">
          midorin
        </h2>
        <p><span class="product-subtitle-underline">lead developer </span></p>
        <p>midorin is a mobile first application developed to be a one stop shop to allow you to become better at caring for your plants. <br>
          <br>
          <span class="empower-title blue-lightsaber">
            it empowers you to;
          </span>
          <br>
          <br>
          <span class="product-bullets">
            - sign up with line <br>
            - add plants to your garden <br>
            - receive watering reminders to your line<br>
            - identify a plant with your mobile camera <br>
            - search or filter for plants in the database<br>
            - recieve support from the community chat channels<br>
            <br>
            - this app taught me alot about sending api requests, matching data in the database, the power of javascript and setting up a pwa
          </span>
        </p>
        <div class="d-flex tech-icons flex-wrap">
          <i class="devicon-rails-plain"></i>
          <i class="devicon-ruby-plain"></i>
          <i class="devicon-javascript-plain"></i>
          <i class="devicon-html5-plain"></i>
          <i class="devicon-sass-original"></i>
          <i class="devicon-bootstrap-plain"></i>
          <i class="devicon-heroku-original"></i>
          <i class="devicon-postgresql-plain"></i>
          <i class="devicon-redis-plain"></i>
          <i class="devicon-git-plain"></i>
          <i class="devicon-github-original"></i>
          <i class="devicon-figma-plain"></i>
        </div>
        <div class="d-flex mt-5">
          <span class="mr-5"> <%= link_to "site", "https://www.midorin.one", class: 'button', target: '_blank'%></span>
          <%= link_to "code", "https://github.com/HundiBar/Midorin", class: 'button', target: '_blank'%>
        </div>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-4">
        <div data-aos="zoom-in" data-aos-duration="2000" class="project-device-iphone-8 aos-init aos-animate">
          <div class="device device-spacegray device-iphone-8">
            <div class="device-frame">
              <%= image_tag'../images/midorin.jpg', class: 'device-content project-img' %>
            </div>
            <div class="device-stripe"></div>
            <div class="device-header"></div>
            <div class="device-sensors"></div>
            <div class="device-btns"></div>
            <div class="device-power"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="project-card-container">
    <div class="row justify-content-between medium-up-2">
      <div id= "element1"class="col-sm-12 col-md-12 col-lg-4">
        <div data-aos="zoom-in" data-aos-duration="2000" class="right project-device-iphone-8 aos-init aos-animate">
          <div class="device device-spacegray device-iphone-8">
            <div class="device-frame">
              <%= image_tag'../images/cgl.jpeg', class: 'device-content project-img' %>
            </div>
            <div class="device-stripe"></div>
            <div class="device-header"></div>
            <div class="device-sensors"></div>
            <div class="device-btns"></div>
            <div class="device-power"></div>
          </div>
        </div>
      </div>
      <div id= "element2" class="col-sm-12 col-md-11 col-lg-11 col-xl-6 project-card-info">
        <h2 id="main-subtitle">
          central gaijin library
        </h2>
        <p><span class="product-subtitle-underline">lead developer </span></p>
        <p>cgl is a mobile first application. it is a digitized library aimed at foreigners who have a hard time finding books in their language in japan. <br>
          <br>
          <span class="empower-title blue-lightsaber">
            it empowers us to;
          </span>
          <br>
          <br>
          <span class="product-bullets">
            - connect lenders and borrowers <br>
            - automatic upload of lender books via isbn  <br>
            - make booking requests for specific time frames<br>
            - search for books via title, genre or location<br>
            - monitor all books -lend or borrow- in dashboard<br>
            <br>
            - this app taught me about how to setup my first api via google books, a lot about how relational-databases work, both n:1 and n:n relations
          </span>
        </p>
        <div class="d-flex tech-icons flex-wrap">
          <i class="devicon-rails-plain"></i>
          <i class="devicon-ruby-plain"></i>
          <i class="devicon-javascript-plain"></i>
          <i class="devicon-html5-plain"></i>
          <i class="devicon-sass-original"></i>
          <i class="devicon-bootstrap-plain"></i>
          <i class="devicon-heroku-original"></i>
          <i class="devicon-postgresql-plain"></i>
          <i class="devicon-git-plain"></i>
          <i class="devicon-github-original"></i>
          <i class="devicon-figma-plain"></i>
        </div>
        <div class="d-flex mt-5">
          <span class="mr-5"> <%= link_to "site", "https://cgl-hundibar.herokuapp.com", class: 'button', target: '_blank'%></span>
          <%= link_to "code", "https://github.com/HundiBar/central-gaijin-library", class: 'button', target: '_blank'%>
        </div>
      </div>
    </div>
  </div>
  <div class="project-card-container">
    <span class="anchor" id="work"></span>
    <div class="row justify-content-between">
      <div class="col-sm-12 col-md-11 col-lg-11 col-xl-6 project-card-info">
        <h2 id="main-subtitle">
          Curated Watchlists
        </h2>
        <p><span class="product-subtitle-underline">lead developer </span></p>
        <p>curated watchlists is project that aims to allow users to create their own lists of various movies to easily keep track of movies they want to watch  <br>
          <br>
          <span class="empower-title blue-lightsaber">
            it empowers you to;
          </span>
          <br>
          <br>
          <span class="product-bullets">
            - add a movie to a current list or a new list <br>
            - search movies via title <br>
            - personalize list with an image upload <br>
            <br>
            - this app taught me about how to send search results to another page, using cloudinary to host and display images and using javascript event listeners to make a page more dynamic
          </span>
        </p>
        <div class="d-flex tech-icons flex-wrap">
          <i class="devicon-rails-plain"></i>
          <i class="devicon-ruby-plain"></i>
          <i class="devicon-javascript-plain"></i>
          <i class="devicon-html5-plain"></i>
          <i class="devicon-sass-original"></i>
          <i class="devicon-bootstrap-plain"></i>
          <i class="devicon-heroku-original"></i>
          <i class="devicon-postgresql-plain"></i>
          <i class="devicon-git-plain"></i>
          <i class="devicon-github-original"></i>
        </div>
        <div class="d-flex mt-5">
          <span class="mr-5"> <%= link_to "site", "https://http://hundi-watch-list.herokuapp.com/", class: 'button', target: '_blank'%></span>
          <%= link_to "code", "https://github.com/HundiBar/rails-watch-list", class: 'button', target: '_blank'%>
        </div>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-4">
        <div data-aos="flip-up" data-aos-duration="2000" class="project-device-macbook aos-init aos-animate">
          <div class="device device-spacegray device-macbook">
            <div class="device-frame">
              <%= image_tag'../images/watchlistsized.jpeg', class: 'device-content project-img' %>
            </div>
            <div class="device-stripe"></div>
            <div class="device-header"></div>
            <div class="device-sensors"></div>
            <div class="device-btns"></div>
            <div class="device-power"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
